
.loginWrapper {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #000;
}

.loginLogo{
  text-align: center;
  filter: hue-rotate(50deg) !important;
  img {
    width: 120px;
  }
}


$position: -30px;
.loginBackground{
  filter: blur(10px) grayscale(0) !important;
  overflow: hidden;
  // width: 110%;
  // height: 110%;
  top: $position;
  left: $position;
  bottom: $position;
  right: $position;
  background: url(/login-background-3.jpeg) no-repeat;
  background-size: 110% 110%;
  z-index: 1;
  position: fixed;
  opacity: .2;
}

$borderRadius: 10px;
.loginContent {
  display: flex;
  justify-content: center;
  // padding-top: 20vh;
  position: absolute;
  z-index: 10;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transition: .3s;
  transform: translate3d(-50%, -50%, 0);
  border-radius: $borderRadius + 3;
  // border: 3px solid transparent;
  &:hover{
    // border-color: #8245eb;
    border-color: #8245eb;
    // border-width: 10px;
    // box-shadow: 1px 1px 10px 2px #d0bcf3;
    // box-shadow: 1px 1px 10px 2px #d7af3f;
  }
  .loginIntro{
    width: 400px;
    background-color: #8245eb;
    border-radius: 0 $borderRadius $borderRadius 0;
  }
  .loginForm {
    width: 400px;
    padding: 30px;
    padding-top: 50px;
    // text-align: center;
    border-radius: $borderRadius 0 0 $borderRadius;
    background-color: #fff;
    background-color: #000000;
    .loginTitle {
      width: 100%;
      color: #fff;
      text-align: center;
    }

    .loginLoading{
      width: 100%;
      height: 100%;
      position: absolute; 
    }
  }
  .loginFormForgot {
    float: right;
  }
  .ant-col-rtl .login-form-forgot {
    float: left;
  }
  .loginFormButton {
    color: #fff;
    width: 100%;
  }


  .text{
    color: #fff;
  }
}